body {
	margin: 0;
	overflow-x: hidden;
}

.flexible-container {
	min-width: 1000px;
	max-width: 1400px;
	width: 95%;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}