.header {
	height: 430px;
	background-image: url("../../images/header.jpg");
	background-size: cover;
	position: relative;
}

.header__main-title {
	padding-top: 10px;
	margin: 0;
	font-family: 'Roboto-Bold';
	font-size: 5rem;
	font-weight: normal;
	color: #003E4B;
}

.header__sub-title {
	font-family: 'Roboto-Thin';
	margin: 0;
	font-size: 2rem;
	color: #003E4B;
}


.header__feedback-container {
	float: right;
}

