.navigation_container {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute; 
	bottom: -5px;
	width: 100%;
}

.header__navigation__container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Roboto-Light';
	font-size: 0.9rem;
	font-weight: 600;
}

.header__navigation__item {
	float: left;
	padding: 15px 10px;
	box-sizing: border-box;
	color: white;
}

.header__navigation__item:hover {
	background-color: rgba(19,70,78, 0.6);
	cursor: pointer;
}